<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenctication</title>
</head>
<body>
    <h1>
        User Profile
    </h1>
    <p>
        After Login the user will reach here.
    </p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>